@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --yellow: 244, 208, 100;
  --light-yellow: 244, 208, 160;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --yellow: 244, 208, 65;
    --light-yellow: 244, 208, 120;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: black;
  align-items: center;
  justify-content: top;

  height: 100vh;
}

.title {
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(var(--light-yellow));
}

.head {
  display: flex;
  align-self: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: black;
  

}

.right_head {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 0 2rem;
}



#banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: black;
  width: 150px;
  height: 300px;
  transform: skew(45deg);
  border-width: 2px;
  border-color: rgb(var(--yellow));
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

#rectangle {
  width: 80%;
  height: 10%;
  background: rgb(var(--yellow));
  
}

#button {
  padding: 10px;
  color: rgb(var(--yellow));
}

#button:hover {
  color: rgb(var(--light-yellow));
}


.banner_top{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 0 2rem;
  color: blanchedalmond;
}

.banner_top#parallelogram{
 color: aliceblue;

}